gpt2.py
opt.py
imagenet_eval.py
inference_speed_test.py
lambada.py
*.csv
__pycache__
run_scripts
pytorch-cifar
data
.cache
models
results/
combine_results.py
qat_training.py
datasets/
runs/
train_float.py
quant_test.py
embedding_vit.py
pytorch-cifar/
qat_training_cifar10.py
*.sh
eval_cifar_model.py
qat_training_cifar100.py
vit_model_info.py
main.py
models.py
qat_training.py
train_float.py
utils.py
train_cifar10float.py
train_cifar100float.py
analog_checkpoint_vgg9/
analog_checkpoint/
analog_checkpoint_cifar100_vgg9/